:root {
    --gray: #EEDDEE;
    --blue: #485696;
    --Yellow: #F8B500;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Acme', sans-serif;
    font-size: 20px;

}

body {
    background-color: var(--gray);
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--blue);
    position: sticky;
    top: 0;
}

.nav-link-list {
    display: flex;
    align-items: center;
}

.nav-link-list .nav {
    list-style: none;
    padding: 0 2rem 0 2rem;
    position: relative;
    
}

.nav-link-list .nav a {
    text-decoration: none;
    /* margin: 0 2rem 0 2rem; */
    color: var(--Yellow);
}


.nav-drop-down {
    position: absolute;
    display: block;
    background-color: var(--blue);
    border: black 2px solid;
    top: 120%;
    border-radius: 1rem;
    padding: 0rem 1rem 0rem 1rem;
    opacity: 0;
    visibility: hidden;
    transition: .2s;
}

.dropdown-link:hover .nav-drop-down{
    top: 105%;
    opacity: 1;
    visibility: visible;
}

.nav-drop-down li {
    list-style: none;
    padding: 1rem 0 1rem 0;
    /* padding: 1rem; */
}

.main-container {
    display: flex;
}

.long {
    height: 1000px;
}

.side-bar-container {
    background-color: var(--blue);
    width: 70%;
    max-height: 500px;
    margin: 2rem;
    padding: 1rem 0rem 0rem 1rem;
}

.side-bar-container .side-bar li {
    list-style: none;
}

.side-bar-container .side-bar li a {
    color: var(--Yellow);
    text-decoration: none;
    font-size: 25px;
}

.main-content-container {
    margin: 2rem;
    /* border: 1px black dashed; */
}

.head-main-content h1{
    color: var(--Yellow);
    font-size: 30px;
}

.product-content {
    margin: 1rem;
}

.table-product-content {
    border-collapse: separate;
    border-spacing: 2px 10px;
    /* background-color: var(--blue); */
}

.head-product-row th{
    background-color: var(--blue);
    color: var(--Yellow);
    width: 1000px;
    height: 50px;
}

.sub-product-row th{
    background-color: var(--blue);
    color: var(--Yellow);
    padding: 1rem;
    width: 1000px;
    height: 100px;
}

.sub-product-row img {
    width: 5rem;
}


/* About Us */

.aboutus-container {
    display: flex;
}

.profile-image {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin: 2rem;
    width: 300%;
}

.profile-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin: 2rem;
}

/* login */

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.login-field form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-field form input{
    margin: 10px;
    width: 50vw;
}

input[type=text], input[type=password], textarea, input[type=file]{
    width: 100%;
    padding: 12px 20px;
    border-radius: 2rem;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

.login-btn {
    background-color: var(--Yellow);
    color: rgb(0, 0, 0);
    margin-top: 1rem;
    padding: 12px 20px;
    border-radius: 2rem;
    border: none;
    cursor: pointer;
    width: 50%;
  }


/* home */

.home-container1 {
    display: flex;
    /* justify-content: space-around; */
}

.home-image-container {
    margin: 2rem;
}

.home-content-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 2rem;
    padding: 2rem;
}

.home-image-content {
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-image-content img{
    margin: 1rem;
}

.home-btn {
    background-color: var(--Yellow);
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    cursor: pointer;
}

.home-container2 {
    display: flex;
}

.home-container2 .home-content-container h1 {
    font-size: 30px;
}

/* form */

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    
}

.form-field{
    width: 50vw;
}

.form-btn{
    background-color: var(--Yellow);
    color: rgb(0, 0, 0);
    margin-top: 1rem;
    padding: 12px 20px;
    border-radius: 2rem;
    border: none;
    cursor: pointer;
    width: 100%;
}