<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Acme&family=Roboto+Mono:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style/style.css">
    <title>Document</title>
</head>
<body>
    <% if(session){%>
        <%- include('navbaradmin') %>
        <%}else{%>
            <%- include('navbar') %>
            <%}%>

    <section class="aboutus-container">
        <div class="image-aboutus-container">
            <div class="image-aboutus">
                <img src="/image/profile/3.png" alt="" srcset="">
                <h2>Bho------ So-----</h2>
                <h2>(Team)</h2>
            </div>
            <div class="image-aboutus">
                <img src="/image/profile/2.png" alt="">
                <h2>Yanapat Sorasak</h2>
                <h2>(Audy)</h2>
            </div>
            <div class="image-aboutus">
                <img src="/image/profile/1.png" alt="">
                <h2>Tr---- Jo----</h2>
                <h2>(Hong)</h2>
            </div>
        </div>
    </section>
    <%- include('footer') %>
</body>
</html>