<footer class="footer-container">
    <img src="/image/LOGO.png" alt="">
    <div class="follow-container">
        <p>Follow Us :</p>
        <img src="/image/FB.png" alt="">
        <img src="/image/IG.png" alt="">
    </div>
    <div class="tel-container">
        <p>Tel: 000-000-0000</p>
        <p>Mail : KHAIN@gmail.com</p>
    </div>
</footer>