<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Acme&family=Roboto+Mono:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style/style.css">
    <title>Document</title>
</head>
<body>
    <% if(session){%>
        <%- include('navbaradmin') %>
        <%}else{%>
            <%- include('navbar') %>
            <%}%>

    <section>
        <div class="home-container1">
            <div class="home-content-container">
                <div class="home-contnet">
                    <h1>Why KHIAN?</h1>
                    <p>We're your ultimate online destination for stationery needs! With an extensive range of products, unbeatable prices, and exceptional customer service, KHAIN is the go-to shop for all your stationery desires. Whether you're a student, professional, or creative enthusiast, KHAIN ensures top-quality supplies that inspire productivity and ignite your imagination. Shop with us today and experience the KHAIN difference!</p>
                </div>
            </div>
            <div class="home-image-container">
                <img src="/image/home1.png" alt="" >
            </div>
            </div>
        </div>
    </section>
    <%- include('footer') %>
</body>
</html>