<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Acme&family=Roboto+Mono:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style/style.css">
    <title>Document</title>
</head>
<body>
    <% if(session){%>
        <%- include('navbaradmin') %>
        <%}else{%>
            <%- include('navbar') %>
            <%}%>

    <section class="login-container">
        <div class="login-logo">
            <img src="/image/LOGO.png" alt="" srcset="">
        </div>
        <div class="login-field">
            <form action="/signin" method="post">
                <input type="text" name="username" placeholder="username">
                <input type="password" name="password" placeholder="password">
                <button type="submit" class="login-btn">Log in</button>
                <a target="_blank" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">register</a>
            </form>
        </div>
    </section>
</body>
</html>