
<nav class="nav-bar">
    <div class="logo">
        <a href="/"><img src="/image/LOGO.png" alt="" width="140px"></a>
    </div>
    <div class="nav-link">
        <ul class="nav-link-list">
            <li class="nav"><a href="/">Home</a></li>
            <li class="nav"><a href="/product">Product</a></li>
            <li class="nav"><a href="/about">About Us</a></li>
            <li class="nav"><a href="/login">Log in</a></li>
        </ul>
    </div>
</nav>