<nav class="nav-bar">
    <div class="logo">
        <a href="/"><img src="/image/LOGO.png" alt="" width="140px"></a>
    </div>
    <div class="nav-link">
        <ul class="nav-link-list">
            <li class="nav"><a href="/">Home</a></li>
            <li class="nav"><a href="/product">Product</a></li>
            <li class="nav"><a href="/about">About Us</a></li>
            <li class="nav dropdown-link"><a href="#">Back-end</a>
                <ul class="nav-drop-down">
                    <li><a href="/addform">Add Product</a></li>
                    <li><a href="/manage">Manage</a></li>
                </ul>
            </li>
            <li class="nav"><a href="/logout">Log Out</a></li>
        </ul>
    </div>
</nav>