<aside class="side-bar-container">
    <ul class="side-bar">
        <li><a href="/product">All</a></li>
        <li><a href="/file">File ►</a></li>
        <li><a href="/hightlightpen">Hightlight ►</a></li>
        <li><a href="/liquid">Liquid ►</a></li>
        <li><a href="/pen">Pen ►</a></li>
        <li><a href="/pencil">Pencil ►</a></li>
        <li><a href="/sketchpaper">Sketch paper ►</a></li>
    </ul>
</aside>